*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.main{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
}

form input{
    border: 0;
    outline: 0;
    margin: 20px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    font-size: 45px;
    flex: 1;
}

#equal-btn{
    width: 170px;
}